.background {
    background: url(bg.jpg) no-repeat;
    background-size: 100% auto;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

.indexmenu li {
    float: left;
    color: white;
    font: 30px ChantelliAntiquaRegular, Helvetica, sans-serif;
    margin-left: 50px;
}

.indexnav {
    margin-top: 200px;
    margin-left: 30%;
    position: absolute;
}

.lefterea {
    width: 35%;
    background-color: cornflowerblue;
    position: fixed;
    height: 100%;
}

.righterea {
    margin-left: 35%;
    width: 65%;
    background-color: lightcyan;
    position: fixed;
    height: 100%;
}

canvas {
    position: absolute;
    margin: 50px auto auto 350px;
}

.portrait {
    width: 150px;
    height: 150px;
    border: 1px solid white;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    border-radius: 75px;
    background: url('../images/portairt.jpg') no-repeat;
    background-size: 100% 100%;
}

.fontface {
    font: 16px ChantelliAntiquaRegular, Helvetica, sans-serif;
}

.intension {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.colorWhite {
    color: white;
}

.colorBlack {
    color: black
}

.information {
    width: 80%;
    height: 50px;
    margin: 0 auto;
    border: 1px solid red;
}


/*.titleChangebgm:hover{color:}*/

.indextop {
    margin-top: 10px;
}

.musicbgm {
    float: right
}

.bgmchange {
    position: absolute;
    left: 90%;
}

.bgmchangelist {
    display: none;
}