.background{
    background:#220DDD url(bg.jpg) no-repeat  top;
    background-size:100% auto;
}
ul {list-style-type: none;}

.indexNav li{float:left;
    color:white;
    font: 30px ChantelliAntiquaRegular, Helvetica, sans-serif;
    padding:50px;}